@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(./fonts/NanumBarunGothic.eot);
  src: url(./fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./fonts/NanumBarunGothic.woff) format('woff'),
       url(./fonts/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(./fonts/NanumBarunGothicBold.eot);
  src: url(./fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./fonts/NanumBarunGothicBold.woff) format('woff'),
       url(./fonts/NanumBarunGothicBold.ttf) format('truetype');
}