<h2>스포카의 근무 환경</h2>
<ul>
  <li>
    <strong>근무 형태</strong>
    <ul>
      <li>정규직</li>
    </ul>
  </li>
  <li>
    <strong>회사 위치</strong>
    <ul>
      <li>서울: 서울시 강남구 테헤란로 420 하이리빙 빌딩 9층</li>
      <li>부산: 부산시 해운대구 센텀서로 30 KNN타워 2404호</li>
      <li>도쿄: 東京都渋谷区代々木1-59-1 オーハシビル6F</li>
    </ul>
  </li>
  <li>
    <strong>급여 제도</strong>
    <ul>
      <li>연봉제, 매년 연봉 재협상</li>
      <li>급여는 매달 10일 지급</li>
    </ul>
  </li>
  <li>
    <strong>휴가 제도</strong>
    <ul>
      <li>1년간 15일, <strong>1년 재직 후 2년 근속 시마다 6일씩 추가</strong></li>
      <li>결혼, 조의, 환갑 및 고희, 출산, 졸업식에 유급 휴가</li>
      <li>월 1일 무급 생리 휴가</li>
      <li>출산 휴가 및 임산부 태아검진, 육아기 근로 단축 시행</li>
      <li>3일 이상 통원 및 입원이 필요한 경우, <strong>연간 2주까지 유급 병가 휴가 사용 가능</strong></li>
    </ul>
  </li>
  <li>
    <strong>근무 시간</strong>
    <ul>
      <li>1일 8시간, 주 40시간 근무</li>
      <li>연장, 야간 및 휴일근로 수당 지급</li>
      <li>필요한 경우 CTO 재량 특별휴가 지급</li>
      <li>설날, 추석 연휴 전날 단축근무 및 명절선물(상품권) 지급</li>
      <li><strong>인터넷이 가능한 환경이라면 회사 외 근무지에서 자유롭게 근무 가능(해외 / 국내 무관)</strong></li>
      <li><strong>업무 시간은 개인에 맞게 탄력적으로 조정</strong></li>
      <li><strong>도도데이 제도: 매월 급여지급일이 포함된 주의 금요일은 오전 근무만 시행</strong></li>
    </ul>
  </li>
  <li>
    <strong>최신형 장비 지원</strong>
    <ul>
      <li>최신형 맥북이나 델 노트북, 24인치 모니터 지급</li>
    </ul>
  </li>
  <li>
    <strong>업무 지원</strong>
    <ul>
      <li>도서 구매비 무제한 지원</li>
      <li>월 1회 팀별 회식비 지원</li>
      <li>간식 및 커피 지원</li>
      <li>안마 의자 구비</li>
    </ul>
  </li>
  <li>
    <strong>학력 및 성 평등 제도</strong>
    <ul>
      <li>채용 시 학력, 성별 무관</li>
      <li>동일가치 노동에 대해 동일한 임금 제도</li>
      <li>연 1회 전 직원 대상 성희롱 예방 교육 시행</li>
      <li><strong>팀 모두가 주기적으로 업무문화 개선(<a href="https://github.com/spoqa/code-of-conduct/" target="_blank">크리에이터 행동강령</a> 참고)</strong></li>
    </ul>
  </li>
</ul>
