---
layout: jobs
title: 프론트엔드 프로그래머를 모집합니다.
description: 스포카에서 상점을 위한 IT 서비스를 개발할 프론트엔드 프로그래머를 모집합니다.
---
<h1>프론트엔드 프로그래머를 모집합니다</h1>

<hr>

{% include jobs_spoqa_intro.html %}

<h3>프로그래머 문화</h3>
<p>
  스포카는 누가 보더라도 이해하기 쉽고 명료하며, 견고한 코드를 지향합니다. 우리는 중복을 최소화하기 위해 노력하며, 테스트를 꼼꼼하게 작성하고, 동료를 배려해 작업합니다. 그렇기에 성숙한 코드 리뷰 문화가 발달했고, 페어 프로그래밍을 통해 적극적으로 서로의 지식을 교환하거나 노하우를 전수하기도 합니다.
</p>
<p>
  최소한의 단위를 짧은 주기로 배포하고 조금씩 개선하는 방식을 지향합니다. 작은 단위로 꾸준히 개선하는 것이, 한 번에 거대한 변경을 하는 것보다 단절과 혼란을 줄일 수 있고, 더 즐겁게, 오래 일할 수 있기 때문입니다. 작은 실수를 미리 발견하는 것이 큰 실수를 나중에 알아차리는 것을 방지하는 최고의 방법이라는 공감대가 형성되어 있기 때문에, 동료와는 완성된 작품이 아닌 날마다 진행된 부분 만큼을 리뷰합니다.
</p>
<p>
  재택근무와 자율 출퇴근 제도를 운용해 개인의 집중력을 최대화하는 반면, 회고와 워크숍에서 충분한 소통을 나눕니다. 일하는 방식에 대해 고민하며, 고민을 고민하는 방식에 대해서도 고민합니다.
</p>

<h2>프론트엔드 프로그래머는 이런 일을 합니다</h2>

<h3>웹 기술을 사용한 태블릿 사용자 인터페이스 개발</h3>
<p>
  태블릿에서 휴대 전화번호를 입력해 포인트를 적립하는 스포카의 대표 제품인 도도 포인트의 UI를 개발합니다. 신속한 제품 개선과 <a href="https://reactjs.org/docs/jsx-in-depth.html">JSX</a>를 통한 생산성, 효율적인 유지보수를 위해 <a href="https://reactjs.org/">React</a>를 사용합니다. 또, 타입 불일치나 <code>null</code> 미확인 등으로 인한 사소하지만 가장 흔한 버그들을 사전에 방지하기 위해 <a href="https://www.typescriptlang.org/">TypeScript</a>로 코딩합니다. 가장 많은 사용자와 만나는 제품인 만큼 도전적이고 흥미로운 과제가 기다리고 있습니다.
</p>

<h3>대시보드 사용자 인터페이스 개발</h3>
<p>
  데이터 시각화가 잘 된 대시보드는 소상공인들이 자신의 매장 상황을 한눈에 파악할 수 있도록 하는 도도 제품의 중요한 부분입니다. 많은 데이터를 빠르게 처리하는 로딩 기술 구현이나 아름다운 인터랙션 구현 등의 다양한 업무를 경험할 수 있습니다.
</p>

<h3>국가별 랜딩 페이지 개발</h3>
<p>
  스포카의 제품은 한국뿐 아니라 일본, 미국, 동남아 시장으로 뻗어 나갑니다. 그러므로 다국어를 효과적으로 처리하는 능력과 미려한 디자인을 구현하는 능력이 요구되며 눈에 직접 보이는 요소를 구현하는 재미를 느낄 수 있습니다.
</p>

<h3>스포카 자체 스타일 프레임워크 개발</h3>
<p>스포카는 자체 <a href="http://bi.spoqa.com/ui.html">디자인 시스템</a>을 갖추고 있습니다. 이를 더 효율적으로 재사용할 수 있도록 React 컴포넌트 라이브러리로 만드는 과제가 있습니다.</p>

<h2>지원 자격</h2>

<ul>
  <li>HTML, SCSS, TypeScript, JavaScript를 능숙하게 쓸 수 있는 분</li>
  <li>다른 사람이 쓸 수 있는 프로그램을 직접 만들고 운영해 본 경험이 있는 분</li>
  <li>반응형 웹 서비스의 개발 경험이 있는 분</li>
  <li>Internet Explorer 8 이상의 브라우저 호환성 지원 경험이 있는 분</li>
  <li>(우대) 위 기술 스택의 사용 경험이 있으신 분</li>
  <li>(우대) 일본어와 한국어가 모두 가능하신 분</li>
  <li>(우대) 글로벌 서비스에 대한 개발 및 운영 경험이 있으신 분</li>
  <li>(우대) SEO를 통한 유의미한 고객 지표 개선 경험이 있으신 분</li>
  <li>(우대) 오픈소스 프로젝트에 기여 경험이 있으신 분</li>
  <li>(우대) 단위테스트, 기능테스트, 종단테스트, 빌드 자동화, 지속적 통합 등의 경험이 있으신 분</li>
</ul>

<h2>스포카를 이루는 기술</h2>
<ul>
  <li>주요 웹 앱에서 표준적으로 TypeScript, React 및 Redux를 사용합니다.</li>
  <li>주요 서버에서 표준적으로 Python과 Flask, SQLAlchemy를 사용합니다. 일부 서버는 TypeScript, Rust도 사용합니다. 거의 모든 서버가 Python 3.5 이상의 최신 버전을 사용하고 있습니다.</li>
  <li>매장의 POS 기기에서 실행되는 Windows 애플리케이션에서는 Python과 Qt, C#, Rust를 사용합니다.</li>
  <li>데이터베이스로는 PostgreSQL을 주로 사용하며, 일부 MySQL이나 DynamoDB를 사용하는 부분도 있습니다. 대부분 Amazon RDS를 통해 운영합니다.</li>
  <li>사내 도구는 Rust와 Haskell, Python을 사용합니다.</li>
  <li>단위 테스트엔 pytest, Karma, Mocha 등을, 기능 테스트엔 Selenium 등을 사용합니다.</li>
  <li>대부분의 서버가 Docker 컨테이너로 배포 표준화되어, 이를 Amazon ECS에 올려서 사용합니다. Route 53, ELB/ALB, S3, CloudFront 등 여러 AWS 기능들을 아주 많이 사용합니다.</li>
  <li>Git을 사용하며 각종 사내 배포 시스템이나 개발 프로세스 전반에 Git을 가정하고 있습니다. 저장소 호스팅으로 GitHub과 Bitbucket을 사용합니다.</li>
  <li>지속적 통합을 위해 Circle CI를 주로 사용합니다.</li>
  <li>flake8, mypy, eslint 등의 각종 정적 분석기를 적극적으로 활용합니다.</li>
  <li>주요 협업 도구로는 Slack과 JIRA, Confluence를 전 직원이 사용합니다.</li>
</ul>

{% include jobs_spoqa_working_terms.html %}

<h2>지원 방법</h2>

<p>자유 형식의 이력서(사진 및 성별은 뺄 것)와 경력 기술서, GitHub 저장소, 포트폴리오 등 자신을 보여줄 수 있는 자료를 <a href="mailto:recruit@spoqa.com">recruit@spoqa.com</a>으로 보내주세요. <strong>메일에 지원하려는 직군을 정확히 기재해주세요.</strong></p>

<h2>채용 절차</h2>

<h3>서류 전형</h3>
<p>보내주신 이력서와 경력 기술서, Github 저장소, 포트폴리오 등을 자세히 검토합니다.</p>

<h3>코딩 테스트</h3>
<p>지원한 직군에 맞춘 과제를 보내드립니다. 과제는 총 2일 동안 작업할 수 있는 분량이며 과제를 시작할 날짜는 사전에 협의 후 진행합니다. 과제 결과물을 공개 저장소에 올려 제출하시면 그 내용을 검토합니다.</p>

<h3>실무진 면접</h3>
<p>스포카에 방문하셔서 실무진과 만나 프로그래밍 경험에 관한 질문과 답변을 나눕니다. 이 과정에서 스포카의 인재상에 적합한지, 동료들과 잘 협업할 수 있을지, 충분한 수준의 지식을 겸비하고 있는지를 평가합니다.</p>

<h3>경영진 면접</h3>
<p>스포카의 임원과 만나 근무 조건을 협의합니다. 이 과정에서 서로가 함께 만족할 수 있는 지점을 탐색합니다.</p>


