<!DOCTYPE html>
<!--[if lt ie 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if ie 7]>         <html class="lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if ie 8]>         <html class="lt-ie9 ie8"> <![endif]-->
<!--[if gt ie 8]><!--> <html class=""> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Spoqa Tech Blog</title>
{% if page.title %}
{% assign base_path = '../../..' %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="http://spoqa.github.io{{ page.url }}">
<meta property="og:site_name" content="Spoqa Tech Blog">
<meta property="og:description" content="{{ page.description }}">
{% else %}
{% if paginator.page == 1 %}
  {% assign base_path = '.' %}
{% else %}
  {% assign base_path = '..' %}
{% endif %}
<meta property="og:title" content="Spoqa Tech Blog">
<meta property="og:type" content="blog">
<meta property="og:url" content="{{ site.home_url }}">
<meta property="og:site_name" content="Spoqa Tech Blog">
<meta property="og:description" content="몇가지 Code snippet과 설명등을 포함하여 매주 1회씩 스포카 팀이 배운 여러가지 기술들에 대해 소개합니다.">
{% endif %}
<meta property="og:image" content="{{ site.home_url }}{{ site.representing_image }}">
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-36136046-5', 'auto');
ga('send', 'pageview');
</script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script src="//use.typekit.net/ise6lwp.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="{{ base_path }}/css/styles.css">
<link rel="stylesheet" href="{{ base_path }}/css/syntax.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link href="{{ base_path }}/atom.xml" type="application/atom+xml" rel="alternate" title="Spoqa Tech Blog" />
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico" />
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="header-item">
        <div class="spoqa-logo-wrap">
          <a class="spoqa-logo" href="{{ base_path }}/"><img src="{{ base_path }}/images/logo.png"></a>
          <a class="blog-title" href="{{ base_path }}/">기술 블로그</a>
        </div>
        <div class="nav">
          <input type="checkbox" id="toggle">
          <label for="toggle" class="toggle" onclick></label>
          <ul class="menu">
            <li><a class="
              {% if page.url == '/about.html' %}
              selected
              {% endif %} menu-about" href="{{ base_path }}/about.html">소개</a></li>
            <li><a class="
              {% if page.url != '/about.html' and page.url != '/job.html' %}
              selected
              {% endif %} menu-blog" href="{{ base_path }}/index.html">블로그</a></li>
            <li><a class="menu-github" href="https://github.com/spoqa">GitHub</a></li>
            <li><a class="
              {% if page.url == '/job.html' %}
              selected
              {% endif %} menu-job" href="/job.html">채용정보</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="push">
    </div>
    <div class="footer">
      <div id="info">
        <span>© <a href="http://dodopoint.com/">Spoqa</a> Inc. All rights reserved.</span>
        <span>Powered by <a href="https://pages.github.com/">GitHub Pages</a>.</span>
      </div>
    </div>
  </div>
<!-- Responsive layout polyfill for IE8 and lower -->
<!--[if lte IE 8]>
<script>
var config = {
    mobileResponsiveBreakpoint: 650
};
$(window).on('resize', function(){
    if($(window).width() <= config.mobileResponsiveBreakpoint){
        if(!$('body').hasClass('res-mobile')) $('body').addClass('res-mobile');
    }
    else {
        $('body').removeClass('res-mobile');
    }
}).trigger('resize');
</script>
<![endif]-->
<script>
var WebFontConfig = {
  google: {
    families: ['Source Sans Pro:400,700,400italic,700italic']
  },
  custom: {
    families: ['Nanum Barun Gothic:400,700', 'spoqahansans:100,400,700'],
    urls: ['/css/NanumBarunGothic.css', '/css/spoqahansans.css']
  }
};

WebFont.load(WebFontConfig);
</script>
</body>
</html>

