---
layout: default
title: 크리에이터를 모집합니다.
description: 스포카에서 상점을 위한 IT 서비스를 디자인하고 개발할 크리에이터를 모집합니다.
representing_image: "/images/iwantyou-02-01.png"
---
<style type="text/css">
.post {
    margin-bottom: 120px;
}
h3 {
    margin-top: 1.5em;
    margin-bottom: 0;
}
#job-table {
    width: 100%;
}
#job-table td {
    text-align: center;
}
.hiring-banner {
  height: 320px;
  background-position-y: 80%;
}
.hiring-subtitle,
.btn-job
{
  display: none;
}
@media only screen and (max-width: 360px) {
  .hiring-banner {
    height: 220px;
  }
}
</style>
<div class="post">

{{ content }}
